table th, td {
  text-align: center !important;
  vertical-align: middle !important;
}

.input-group {
  margin: 20px 0;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  width: 250px;
  height: 200px;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-logo {
  margin: 20px 0 0 0;

}